.header{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(168, 166, 166);
    justify-content: space-between;
    background-color: rgb(15 40 70 / 95%);
}

.img_container{
    width: 25%;
    height: 35%;
    display: flex;
    flex-direction: row;
}
.header_img{
    width: 5rem;
    margin: auto 0 auto 30%;
}
.logo_text{
    margin: auto 0;
    margin-right: 20%;
}
.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: auto 7%;
}